.cartas{
  box-shadow: 5px 5px 8px #888888;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 500px;
}
.cartas button{
  margin: 0px 20px 0px 20px;
}
.cartas h5{
  display: inline;
}
p.titulo1{
  color: #5858587e;
  font-weight: bolder;
}
/* previsualizacón de foto de perfil */
.image{
  width:150px;
  height:150px;
  object-fit: cover;
  border:3px solid #666;
}

.scroll{
  display: flex;
  align-items: center;
  overflow:auto;
  height: 350px;
}

.header-consul{
	width: 100%;
	height: 150px;
	margin: auto;
	background: url('../../../../assets/images/disease.jpg') no-repeat center center/cover;
	padding-bottom: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
  font-weight: 700;
  font-size: 35px;
}
.cartas:hover {
	z-index: 1;
  margin-bottom: 50px;
}