# See http://help.github.com/ignore-files/ for more about ignoring files.

server/uploads

# compiled output
front/dist
front/tmp
front/out-tsc
# Only exists if Bazel was run
front/bazel-out
server/dist
server/tmp
server/out-tsc
# Only exists if Bazel was run
server/bazel-out

# dependencies
front/node_modules
server/node_modules

# profiling files
front/chrome-profiler-events*.json
server/chrome-profiler-events*.json

# IDEs and editors
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
front/connect.lock
front/coverage
front/libpeerconnection.log
front/npm-debug.log
front/yarn-error.log
front/testem.log
front/typings
server/typings
server/connect.lock
server/coverage
server/libpeerconnection.log
server/npm-debug.log
server/yarn-error.log
server/testem.log
front/typings

# System Files
.DS_Store
Thumbs.db
