<img class="img-responsive img" src="../../../../assets/images/doctor.jpg" alt="imagen">
<div class="container-fluid">
    <div class="card text-center mt-3 ml-5 mr-5 col-6 mb-5 borde">
        <div class="card-header titulo">
            <i class="fas fa-users mr-3" style="color:#709fb0; font-size: 26px;"></i> NOSOTROS
        </div>
        <div class="card-body">
            <p class="card-text">
                Somos una empresa con más de 1 año de exitosa trayectoria en el rubro. <br> De lo que fue un simple proyecto de la universidad, que sólo nos conocian algunos profesores, llegamos a una empresa de primera línea; de alcance
                nacional. <br><br> Esta evolución está basada en la calidad y determinación característicos de todos los que comformamos este centro; sumada a una escrupulosa
                formalidad en el cumplimiento de nuestros compromisos y responsabilidad con los pacientes que atendemos dia con dia.
                <br><br> Nuestros pacientes valoran esta conducta, es por eso que nos distinguen con su confianza. <br>
            </p>
            
        </div>
        
    </div>

    <div class="card-deck row mb-5">
        <div class="card ml-5 col-lg-3 borde mr-3">
            <div class="card-header titulo">
                <i class="fas fa-procedures mr-3" style="color: #709fb0; font-size: 25px;"></i> MISIÓN
            </div>
            <div class="card-body">
                <p class="card-text">La misión de <strong>Centro Medico Hospitalario</strong> es la atención medica para brindar al sistema de salúd una alternativa de calidad y accesibilidad de cuidar tu salud.</p>
            </div>
        </div>
        <div class="card ml-3 col-lg-3 borde">
            <div class="card-header titulo">
                <i class="fas fa-eye mr-3" style=" color: #709fb0;  font-size: 26px;"></i> VISIÓN
            </div>
            <div class="card-body">
                <p class="card-text">Constituir un hospital líder en la región por su calidad, innovación y accesibilidad</p>
            </div>
        </div>
        <div class="card ml-3 col-lg-3 borde">
            <div class="card-header titulo">
                <i class="fas fa-award mr-3" style="color: #709fb0; font-size: 26px;"></i> VALORES
            </div>
            <div class="card-body">
                <p class="card-text"><i class="fas fa-check" style="color: #a6f6f1;"></i> Honestidad
                    <br><br>
                    <i class="fas fa-check" style="color: #a6f6f1;"></i> Confianza
                    <br><br>
                    <i class="fas fa-check" style="color: #a6f6f1;"></i> Responsabilidad <br></p>
            </div>

        </div>
        <div class="card ml-3 mr-5 col-lg-3 borde">
            <div class="card-header titulo">
                <i class="fas fa-mountain mr-3" style=" color: #709fb0; font-size: 26px;"></i> PILARES
            </div>
            <div class="card-body">
                <p class="card-text"><i class="fas fa-check" style="color: #a6f6f1;"></i> Brindar la mejor <strong>calidad</strong> en atención y servicio.
                    <br><br>
                    <i class="fas fa-check" style="color: #a6f6f1;"></i> Honrar la <strong>confianza</strong> que nuestros pacientes nos confían. <br><br>
                    <i class="fas fa-check" style="color: #a6f6f1;"></i> Marcar la diferencia con <strong>innovación tecnológica</strong> permanente.</p>
            </div>
        </div>
    </div>
</div>