.tituloFormUsr{
  background-color: #1c2f3a;
  color:#ffffff;
  font-weight: bolder;
  font-size: 30px;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 5px;
}
.tituloFormPat{
  background-color: #134b2a;
  color:#ffffff;
  font-weight: bolder;
  font-size: 30px;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 5px;
}
/* titulo que separa las secciones del formulario */
.separador{
    background-color: #115e86;
    color: #ffffff;
    font-weight: bold;
    padding: 3px;
    border-radius: 6px;
    margin-bottom: 30px;
    
  }
  .separador2{
    background-color: #28B463;
    color: #ffffff;
    font-weight: bold;
    padding: 3px;
    border-radius: 6px;
    margin-bottom: 30px;
    
  }
  .separador3{
    background-color: #28B463;
    color: #ffffff;
    font-weight: bold;
    padding: 3px;
    border-radius: 6px;
    margin-bottom: 0px;
    
  }
  /* mensaje indicando el tipo de cuenta del usario  */
  .tipoCuenta{
    background-color: #00a6ff;
    color: #ffffff;
    margin-bottom: 0px;
  }
  .msjInfo{
    background-color: #b0e3ff;
    color: #000000; 
    margin: 0px;
    font-size: 12px;
    padding: 5px;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 15px;
  }
  .input{
    margin-top: 10px;
    margin-bottom: 0px !important;
  }
  .salto{
    margin-bottom: 0px !important;
  }
  /* mensaje de error indicando campo mal ingresado  */
  .msjErr{
    display: block;
    margin: 0px;
    font-size: 12px;
    background-color: #FF9494;
    color: #FFFFFF;
    padding: 1px;
    border-radius:  0px 0px 0px 0px;
    text-align: center;
  }
  /* previsualizacón de foto de perfil */
  .perfil{
      width:170px;
      height:170px;
      border-radius:160px;
      object-fit: cover;
      border:5px solid #666;
  }
  
  .tituloP{
    background-color: #28B463;
    color: #FFFFFF;  
    text-align: center;
    border-radius: 6px;
    margin-bottom: 1px;
  }
  .control1{
    margin-left: 5px;
  }
  .titiloTA{
   background-color: #28B463;
   color: #ffffff;
   border-radius: 10px;
   padding: 6px;
   text-align: center;
   vertical-align: middle;
   font-size: 18px;
   margin-bottom: 4px;
 }
 .check1{
  margin-right: 8px;
  font-size: 16px;
  margin-bottom: 5px;
 }
 .msjInfo2{
    background-color: #33b46969;
    color: #ffffff; 
    margin: 0px;
    font-size: 15px;
    padding: 5px;
    border-radius: 10px 10px 10px 10px;
    text-align: left;
    padding-left: 10px;
    padding-right: 50px;
    margin-bottom: 0px;
  }