<nav class="navbar navbar-expand-lg navbar-dark" id="navbar">
    <div class="container-fluid">
        <a routerLink="Home" routerLinkActive="active">Hostpital</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a routerLink="consulthistory" routerLinkActive="active">Historial de consultas </a>
                    <ul>
                        <li><a routerLink="prescriptview" routerLinkActive="active">Ver recetas</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a routerLink="usrlist" routerLinkActive="active">Lista de pacientes</a>
                    <ul>
                        <li><a routerLink="usrview" routerLinkActive="active">Ver</a></li>
                        <li><a routerLink="usredit" routerLinkActive="active">Editar</a></li>
                        <li><a routerLink="usradd" routerLinkActive="active">Agregar</a></li>
                        <li><a routerLink="usrrm" routerLinkActive="active">Eliminar</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a routerLink="diseaseslist" routerLinkActive="active">Lista de enfermedades </a>
                    <ul>
                        <li><a routerLink="diseasesedit" routerLinkActive="active">Editar</a></li>
                        <li><a routerLink="diseasesadd" routerLinkActive="active">Agregar</a></li>
                        <li><a routerLink="diseasesrm" routerLinkActive="active">Eliminar</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <button class="btn btnsalir" type="button">cerrar session </button>
                </li>
            </ul>
        </div>
    </div>
</nav>

<router-outlet>
</router-outlet>