<app-navindex></app-navindex>
<br><br><br>
<!-- Formulario de registro de usario  -->
<div class="col-md-8 offset-md-2">
  <div class="card">
    <div class="cardd-body"> 
      <form [formGroup]="form" (ngSubmit)="save($event)" enctype="multipart/form-data">
        <div class="container ">
          <div class="row">
            <p class="separador text-center">Datos de la cuenta</p>
            <div class="col-sm-12 col-md-12 col-lg-4">
              <div class="mb-3">
                <input type="text" class="form-control" name="USR_NAME" formControlName="USR_NAME"  placeholder="Usuario" autofocus>
                <!-- Directiva para mostrar mensajes reactivos -->
                <div *ngIf="form.get('USR_NAME')!.errors && form.get('USR_NAME')!.touched">
                  <p class="msjErr" *ngIf="form.get('USR_NAME')!.hasError('required')">
                    Este campo es requerido
                  </p>
                  <p class="msjErr" *ngIf="form.get('USR_NAME')!.hasError('maxlength')">
                    Máximo 12 caracteres
                  </p>
                  <p class="msjErr" *ngIf="form.get('USR_NAME')!.hasError('minlength')">
                    Mínimo 4 caracteres
                  </p>
                  <p class="msjErr" *ngIf="form.get('USR_NAME')!.hasError('pattern')">
                    Este campo no acepta espacios
                  </p>
                </div>
              </div>        
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4">
              <div class="mb-3">
                <input type="password" class="form-control" name="USR_PASSW" formControlName="USR_PASSW" placeholder="Contraseña" >
                <!-- Directiva para mostrar mensajes reactivos -->
                <div *ngIf="form.get('USR_PASSW')!.errors && form.get('USR_PASSW')!.touched">
                  <p class="msjErr" *ngIf="form.get('USR_PASSW')!.hasError('required')">
                    Este campo es requerido
                  </p>
                  <p class="msjErr" *ngIf="form.get('USR_PASSW')!.hasError('maxlength')">
                    Máximo 12 caracteres
                  </p>
                  <p class="msjErr" *ngIf="form.get('USR_PASSW')!.hasError('minlength')">
                    Mínimo 4 caracteres
                  </p>
                  <p class="msjErr" *ngIf="form.get('USR_PASSW')!.hasError('pattern')">
                    Este campo no acepta espacios 
                  </p>
                </div>
              </div>        
            </div>
            <div class="col-sm-12 col-md-12  col-lg-4 ">
              <div class="mb-3">
                <input type="password" class="form-control " name="PASSW_CONF" formControlName="PASSW_CONF" placeholder="Confirme contraseña" >
                <!-- Directiva para mostrar mensajes reactivos -->
                <div *ngIf="form.get('PASSW_CONF')!.errors && form.get('PASSW_CONF')!.touched || match">
                  <p class="msjErr" *ngIf="form.get('PASSW_CONF')!.hasError('required')">
                    Este campo es requerido
                  </p>
                  <p class="msjErr" *ngIf="match">
                    Las contraseñas no coinciden
                  </p>
                </div>
              </div>        
            </div>
          </div>
          <div class="row d-flex justify-content-end">
            <div class="col-sm-12 col-md-12 col-lg-8 input">
              <p class="msjInfo">
                <i class="fas fa-info-circle"></i> 
                En caso de no contar con una clave de cuenta, deje este campo vacío
              </p>
              <div class="mb-3 input-group input">
                <input type="text" class="form-control" name="KEY" formControlName="KEY"  placeholder="Clave de cuenta" >           
                <span class="input-group-text tipoCuenta">Tipo de cuenta:&nbsp; 
                  <div *ngIf="claveCuenta=='0'">PACIENTE</div>
                  <div *ngIf="claveCuenta=='1'">ENFERMERA</div>
                  <div *ngIf="claveCuenta=='2'">DOCTOR</div>
                </span>
              </div> 
              <!-- Directiva para mostrar mensajes reactivos -->    
              <p class="msjErr" *ngIf="msjNoValido">
                Clave no valida
              </p>  
            </div>
          </div><p class="salto"></p>
          <div class="row">
            <p class="separador">Datos personales</p>
            <div class="col-sm-12 col-md-12 col-lg-6">
              <div class="mb-3">
                <input type="text" class="form-control" name="NAME" formControlName="NAME" placeholder="Nombre(s)">
                <!-- Directiva para mostrar mensajes reactivos -->
                <div *ngIf="form.get('NAME')!.errors && form.get('NAME')!.touched">
                  <p class="msjErr" *ngIf="form.get('NAME')!.hasError('required')">
                    Este campo es requerido
                  </p>
                  <p class="msjErr" *ngIf="form.get('NAME')!.hasError('maxlength')">
                    Máximo 50 caracteres
                  </p>
                  <p class="msjErr" *ngIf="form.get('NAME')!.hasError('minlength')">
                    Mínimo 3 caracteres
                  </p>
                  <p class="msjErr" *ngIf="form.get('NAME')!.hasError('pattern')">
                    Este campo solo acepta letras
                  </p>
                </div>
              </div>        
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6">
              <div class="mb-3">
                <input type="text" class="form-control" name="LASTNAME" formControlName="LASTNAME" placeholder="Apellido(s)" >
                <!-- Directiva para mostrar mensajes reactivos -->
                <div *ngIf="form.get('LASTNAME')!.errors && form.get('LASTNAME')!.touched">
                  <p class="msjErr" *ngIf="form.get('LASTNAME')!.hasError('required')">
                    Este campo es requerido
                  </p>
                  <p class="msjErr" *ngIf="form.get('LASTNAME')!.hasError('maxlength')">
                    Máximo 50 caracteres
                  </p>
                  <p class="msjErr" *ngIf="form.get('LASTNAME')!.hasError('minlength')">
                    Mínimo 3 caracteres
                  </p>
                  <p class="msjErr" *ngIf="form.get('LASTNAME')!.hasError('pattern')">
                    Este campo solo acepta letras
                  </p>
                </div>
              </div>        
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-3">
              <div class="mb-3">
                <input type="text" class="form-control" name="BIRTH" formControlName="BIRTH" placeholder="Fecha de nacimiento" onfocus="(this.type='date')"  min="1900-04-01" max={{today}}>
                <!-- Directiva para mostrar mensajes reactivos -->
                <div *ngIf="form.get('BIRTH')!.errors && form.get('BIRTH')!.touched">
                  <p class="msjErr" *ngIf="form.get('BIRTH')!.hasError('required')">
                    Este campo es requerido
                  </p>
                </div>
              </div>        
            </div>
          </div>
          <div class="row">
            <p class="separador text-center">Medios de contacto</p>
            <div class="col-sm-12 col-md-12 col-lg-6">
              <div class="mb-3">
                <input type="email" class="form-control" name="EMAIL" formControlName="EMAIL" placeholder="Correo electrónico">
                <!-- Directiva para mostrar mensajes reactivos -->
                <div *ngIf="form.get('EMAIL')!.errors && form.get('EMAIL')!.touched">
                  <p class="msjErr" *ngIf="form.get('EMAIL')!.hasError('required')">
                    Este campo es requerido
                  </p>
                  <p class="msjErr" *ngIf="form.get('EMAIL')!.hasError('maxlength')">
                    Máximo de 50 caracteres
                  </p>
                  <p class="msjErr" *ngIf="form.get('EMAIL')!.hasError('minlength')">
                    Mínimo de 8 caracteres
                  </p>
                  <p class="msjErr" *ngIf="form.get('EMAIL')!.hasError('email')">
                    No es una dirección de correo valida
                  </p>
                </div>
              </div>        
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6">
              <div class="mb-3">
                <input type="tel" class="form-control" name="PHONE" formControlName="PHONE" placeholder="Número telefónico">
                <!-- Directiva para mostrar mensajes reactivos -->
                <div *ngIf="form.get('PHONE')!.errors && form.get('PHONE')!.touched">
                  <p class="msjErr" *ngIf="form.get('PHONE')!.hasError('required')">
                    Este campo es requerido
                  </p>
                  <p class="msjErr" *ngIf="form.get('PHONE')!.hasError('maxlength')">
                    Máximo 12 caracteres
                  </p>
                  <p class="msjErr" *ngIf="form.get('PHONE')!.hasError('minlength')">
                    Mínimo 3 caracteres
                  </p>
                  <p class="msjErr" *ngIf="form.get('PHONE')!.hasError('pattern')">
                    Este campo acepta solo números
                  </p>
                </div>
              </div>        
            </div>
          </div>
          <div class="row">
            <p class="separador text-center">Dirección</p>
            <div class="col-sm-12 col-md-12 col-lg-3">
              <div class="mb-3">
                <select
                  class="form-select form-control " name="COUNTRY" formControlName="COUNTRY">
                  <option value="" selected disabled>País</option>
                  <option *ngFor="let country of countryList;" 
                  [value]="country">
                  {{country}}
                  </option>
                </select>
                <!-- Directiva para mostrar mensajes reactivos -->
                <div *ngIf="form.get('COUNTRY')!.errors && form.get('COUNTRY')!.touched">
                  <p class="msjErr" *ngIf="form.get('COUNTRY')!.hasError('required')">
                    Este campo es requerido
                  </p>
                </div>
              </div>        
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6">
              <div class="mb-3">
                <input type="text" class="form-control" name="STREET" formControlName="STREET" placeholder="Calle">
                <!-- Directiva para mostrar mensajes reactivos -->
                <div *ngIf="form.get('STREET')!.errors && form.get('STREET')!.touched">
                  <p class="msjErr" *ngIf="form.get('STREET')!.hasError('required')">
                    Este campo es requerido
                  </p>
                  <p class="msjErr" *ngIf="form.get('STREET')!.hasError('maxlength')">
                    Máximo 50 caracteres
                  </p>
                  <p class="msjErr" *ngIf="form.get('STREET')!.hasError('minlength')">
                    Mínimo 4 caracteres
                  </p>
                </div>
              </div>        
            </div>
            <div class="col-sm-12 col-md-12 col-lg-3">
              <div class="mb-3">
                <input type="text" class="form-control" name="CITY" formControlName="CITY" placeholder="Ciudad">
                <!-- Directiva para mostrar mensajes reactivos -->
                <div *ngIf="form.get('CITY')!.errors && form.get('CITY')!.touched">
                  <p class="msjErr" *ngIf="form.get('CITY')!.hasError('required')">
                    Este campo es requerido
                  </p>
                  <p class="msjErr" *ngIf="form.get('CITY')!.hasError('maxlength')">
                    Máximo 30 caracteres
                  </p>
                  <p class="msjErr" *ngIf="form.get('CITY')!.hasError('minlength')">
                    Mínimo 4 caracteres
                  </p>
                </div>
              </div>        
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-3">
              <div class="mb-3">
                <input type="tel" class="form-control" name="POSTCODE" formControlName="POSTCODE" placeholder="Código postal">
                <!-- Directiva para mostrar mensajes reactivos -->
                <div *ngIf="form.get('POSTCODE')!.errors && form.get('POSTCODE')!.touched">
                  <p class="msjErr" *ngIf="form.get('POSTCODE')!.hasError('required')">
                    Este campo es requerido
                  </p>
                  <p class="msjErr" *ngIf="form.get('POSTCODE')!.hasError('maxlength')">
                    Máximo 8 caracteres
                  </p>
                  <p class="msjErr" *ngIf="form.get('POSTCODE')!.hasError('minlength')">
                    Mínimo 5 caracteres
                  </p>
                  <p class="msjErr" *ngIf="form.get('POSTCODE')!.hasError('pattern')">
                    Este campo acepta solo números
                  </p>
                </div>
              </div>        
            </div>
          </div>
          <div class="row">
            <p class="separador text-center">Foto de perfil (Campo no obligatorio)</p>
            <div class="col-sm-12 col-md-8 col-lg-9">
              <div class="mb-3">
                <input type="file" accept="image/*" class="form-control" name="PHOTO" formControlName="PHOTO" (change)="capturarFile($event)">
              </div>        
            </div>
            <!-- previsualización de imagen de perfil -->
            <div class="col-sm-12 col-md-4 col-lg-3" *ngIf="previsualizacion; else imagenDefault">
              <div class="mb-3 d-md-flex justify-content-md-end">
               <img [src]="previsualizacion" class="perfil">
              </div>        
            </div>
            <ng-template #imagenDefault>
              <div class="col-sm-12 col-md-4 col-lg-3">
                <div class="mb-3 d-md-flex justify-content-md-end">
                <img src="../../../../assets/images/default-user-image.png" class="perfil">
                </div>        
              </div>
            </ng-template>
          </div>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="submit" [disabled]="form.invalid" class="btn btn-primary btn-lg">Enviar Registro</button>
          </div>
          <br>  
        </div>
      </form> 
    </div>
  </div>
</div>
<br><br><br>

