<app-navindex id="navindex"></app-navindex>
<div class="container">
    <br> revisar que no aparezca nav index si existe secion, aqui y en enfermedades
    <br> <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam veritatis explicabo magnam nam. Qui quidem aspernatur laborum omnis harum doloribus, ut vitae delectus ducimus similique voluptatum iste, ipsum corrupti libero! Lorem, ipsum dolor
    sit amet consectetur adipisicing elit. Necessitatibus exercitationem mollitia voluptatibus. Blanditiis eaque eum sit nam esse voluptate atque? Eos consequuntur veritatis repellendus facere labore ipsa inventore? Autem, eligendi.
    <br> revisar que no aparezca nav index si existe secion, aqui y en enfermedades
<br> <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam veritatis explicabo magnam nam. Qui quidem
aspernatur laborum omnis harum doloribus, ut vitae delectus ducimus similique voluptatum iste, ipsum corrupti libero!
Lorem, ipsum dolor
sit amet consectetur adipisicing elit. Necessitatibus exercitationem mollitia voluptatibus. Blanditiis eaque eum sit nam
esse voluptate atque? Eos consequuntur veritatis repellendus facere labore ipsa inventore? Autem, eligendi.

<br> revisar que no aparezca nav index si existe secion, aqui y en enfermedades
<br> <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam veritatis explicabo magnam nam. Qui quidem
aspernatur laborum omnis harum doloribus, ut vitae delectus ducimus similique voluptatum iste, ipsum corrupti libero!
Lorem, ipsum dolor
sit amet consectetur adipisicing elit. Necessitatibus exercitationem mollitia voluptatibus. Blanditiis eaque eum sit nam
esse voluptate atque? Eos consequuntur veritatis repellendus facere labore ipsa inventore? Autem, eligendi.

<br> revisar que no aparezca nav index si existe secion, aqui y en enfermedades
<br> <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam veritatis explicabo magnam nam. Qui quidem
aspernatur laborum omnis harum doloribus, ut vitae delectus ducimus similique voluptatum iste, ipsum corrupti libero!
Lorem, ipsum dolor
sit amet consectetur adipisicing elit. Necessitatibus exercitationem mollitia voluptatibus. Blanditiis eaque eum sit nam
esse voluptate atque? Eos consequuntur veritatis repellendus facere labore ipsa inventore? Autem, eligendi.

<br> revisar que no aparezca nav index si existe secion, aqui y en enfermedades
<br> <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam veritatis explicabo magnam nam. Qui quidem
aspernatur laborum omnis harum doloribus, ut vitae delectus ducimus similique voluptatum iste, ipsum corrupti libero!
Lorem, ipsum dolor
sit amet consectetur adipisicing elit. Necessitatibus exercitationem mollitia voluptatibus. Blanditiis eaque eum sit nam
esse voluptate atque? Eos consequuntur veritatis repellendus facere labore ipsa inventore? Autem, eligendi.

<br> revisar que no aparezca nav index si existe secion, aqui y en enfermedades
<br> <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam veritatis explicabo magnam nam. Qui quidem
aspernatur laborum omnis harum doloribus, ut vitae delectus ducimus similique voluptatum iste, ipsum corrupti libero!
Lorem, ipsum dolor
sit amet consectetur adipisicing elit. Necessitatibus exercitationem mollitia voluptatibus. Blanditiis eaque eum sit nam
esse voluptate atque? Eos consequuntur veritatis repellendus facere labore ipsa inventore? Autem, eligendi.

<br> revisar que no aparezca nav index si existe secion, aqui y en enfermedades
<br> <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam veritatis explicabo magnam nam. Qui quidem
aspernatur laborum omnis harum doloribus, ut vitae delectus ducimus similique voluptatum iste, ipsum corrupti libero!
Lorem, ipsum dolor
sit amet consectetur adipisicing elit. Necessitatibus exercitationem mollitia voluptatibus. Blanditiis eaque eum sit nam
esse voluptate atque? Eos consequuntur veritatis repellendus facere labore ipsa inventore? Autem, eligendi.
<br> revisar que no aparezca nav index si existe secion, aqui y en enfermedades
<br> <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam veritatis explicabo magnam nam. Qui quidem
aspernatur laborum omnis harum doloribus, ut vitae delectus ducimus similique voluptatum iste, ipsum corrupti libero!
Lorem, ipsum dolor
sit amet consectetur adipisicing elit. Necessitatibus exercitationem mollitia voluptatibus. Blanditiis eaque eum sit nam
esse voluptate atque? Eos consequuntur veritatis repellendus facere labore ipsa inventore? Autem, eligendi.

<br> revisar que no aparezca nav index si existe secion, aqui y en enfermedades
<br> <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam veritatis explicabo magnam nam. Qui quidem
aspernatur laborum omnis harum doloribus, ut vitae delectus ducimus similique voluptatum iste, ipsum corrupti libero!
Lorem, ipsum dolor
sit amet consectetur adipisicing elit. Necessitatibus exercitationem mollitia voluptatibus. Blanditiis eaque eum sit nam
esse voluptate atque? Eos consequuntur veritatis repellendus facere labore ipsa inventore? Autem, eligendi.

<br> revisar que no aparezca nav index si existe secion, aqui y en enfermedades
<br> <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam veritatis explicabo magnam nam. Qui quidem
aspernatur laborum omnis harum doloribus, ut vitae delectus ducimus similique voluptatum iste, ipsum corrupti libero!
Lorem, ipsum dolor
sit amet consectetur adipisicing elit. Necessitatibus exercitationem mollitia voluptatibus. Blanditiis eaque eum sit nam
esse voluptate atque? Eos consequuntur veritatis repellendus facere labore ipsa inventore? Autem, eligendi.

<br> revisar que no aparezca nav index si existe secion, aqui y en enfermedades
<br> <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam veritatis explicabo magnam nam. Qui quidem
aspernatur laborum omnis harum doloribus, ut vitae delectus ducimus similique voluptatum iste, ipsum corrupti libero!
Lorem, ipsum dolor
sit amet consectetur adipisicing elit. Necessitatibus exercitationem mollitia voluptatibus. Blanditiis eaque eum sit nam
esse voluptate atque? Eos consequuntur veritatis repellendus facere labore ipsa inventore? Autem, eligendi.

<br> revisar que no aparezca nav index si existe secion, aqui y en enfermedades
<br> <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam veritatis explicabo magnam nam. Qui quidem
aspernatur laborum omnis harum doloribus, ut vitae delectus ducimus similique voluptatum iste, ipsum corrupti libero!
Lorem, ipsum dolor
sit amet consectetur adipisicing elit. Necessitatibus exercitationem mollitia voluptatibus. Blanditiis eaque eum sit nam
esse voluptate atque? Eos consequuntur veritatis repellendus facere labore ipsa inventore? Autem, eligendi.

<br> revisar que no aparezca nav index si existe secion, aqui y en enfermedades
<br> <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam veritatis explicabo magnam nam. Qui quidem
aspernatur laborum omnis harum doloribus, ut vitae delectus ducimus similique voluptatum iste, ipsum corrupti libero!
Lorem, ipsum dolor
sit amet consectetur adipisicing elit. Necessitatibus exercitationem mollitia voluptatibus. Blanditiis eaque eum sit nam
esse voluptate atque? Eos consequuntur veritatis repellendus facere labore ipsa inventore? Autem, eligendi.

<br> revisar que no aparezca nav index si existe secion, aqui y en enfermedades
<br> <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam veritatis explicabo magnam nam. Qui quidem
aspernatur laborum omnis harum doloribus, ut vitae delectus ducimus similique voluptatum iste, ipsum corrupti libero!
Lorem, ipsum dolor
sit amet consectetur adipisicing elit. Necessitatibus exercitationem mollitia voluptatibus. Blanditiis eaque eum sit nam
esse voluptate atque? Eos consequuntur veritatis repellendus facere labore ipsa inventore? Autem, eligendi.


</div>