<nav class="navbar navbar-expand-lg navbar-dark " id="navbar">
    <div class="container-fluid">
        <a routerLink="Home" routerLinkActive="active">Hostpital</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll">
                <li class="nav-item">
                    <a routerLink="consulthistory" routerLinkActive="active">Historial de mis consultas </a>
                    <ul>
                        <li><a routerLink="prescriptview" routerLinkActive="active">Ver recetas</a></li>
                        <li><a routerLink="consultplay" routerLinkActive="active">Reporducir consulta</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a routerLink="diseaseslist" routerLinkActive="active">Lista de enfermedades </a>
                </li>
            </ul>
		    
		    <ul class="d-flex navbar-nav">
				<li class="nav-item mt-2 usrname">
					<p>Hola {{user.USR_NAME}}</p> 
				</li>
				<li class="nav-item ms-2 me-2 mt-2">
					<div *ngIf="user.PHOTO; else imagenDefault">
						<img [src]="'http://localhost:3000/' + user.PHOTO" class="perfil">     
					</div>
					<ng-template #imagenDefault>
					<img src="../../../../assets/images/default-user-image.png" class="perfil">
						</ng-template>      
				</li>
				<li class="nav-item mt-2">
                    <input type="submit" (click)="logout()"  value="Cerrar Sesion">
                </li>
			</ul>			
        </div>
    </div>
</nav>
				
<router-outlet>
</router-outlet>