<div class="wrapper fadeInDown ">
  <div id="formContent">
      <!-- Login Form -->
    <form >
      <br>
      <input type="text"  id="login" class="fadeIn second" name="login" placeholder="Usuario">
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="Contrasena">
      <input type="submit" class="fadeIn fourth" value="Entrar">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" routerLink="forgotpass">¿Olvidaste tu contraseña?</a>
      <a class="underlineHover" routerLink="registro" routerLinkActive="active">¿Aún no estás registrado?</a>
    </div>
   
  </div>
</div>