<div class="container pt-5 border-bottom">
    <div class class="row">
      <div class="col-md-3 col-sm-12 mb-3 text-left" id="log">
          <img src="../../../../assets/images/Medico-sinfondo.png" width="170px" height="170px" alt="logo">
        </div>
            <div class="col-md-3 col-sm-6 col-6 mb-3 p-0 float-left">
                <h5 class="mb-4 font-weight-bold text-uppercase">Encuentranos</h5>
                <ul class="list-group">
                    <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                      <a href="https://www.linkedin.com/"> <i class="fab fa-linkedin"></i> LinkedIn</a>
                    </li>
                    <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                      <a href="https://twitter.com/"> <i class="fab fa-twitter"></i> Twitter</a>       
                    </li>
                    <li class="list-group-item bg-transparent border-0 p-0 mb-2"> 
                      <a href="https://www.reddit.com/"> <i class="fab fa-reddit"></i> Reddit</a>
                    </li>
                    <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                      <a href="https://plus.google.com/" target="_blank"> <i class="fab fa-google-plus"></i> Google+</a>
                    </li>
                    <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                      <a href="https://github.com/" target="_blank"> <i class="fab fa-github"></i> Github</a>  
                    </li>
                    <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                      <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-square"></i> Facebook</a>
                    </li>
                    <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                      <a href="https://www.youtube.com/" target="blank"> <i class="fab fa-youtube"></i> YouTube</a>
                    </li>
                  </ul>
            </div>

            <div class="col-md-3 col-sm-6 col-6 p-0 mb-3 float-left">
                <h5 class="mb-4 font-weight-bold text-uppercase">Contacto</h5>
                <ul class="list-group">
                    <li class="list-group-item bg-transparent border-0 p-0 mb-2"><p class="parrafo">Proyecto sin fines de lucro ubicados en: Avenida Universidad 101, Villas de la Universidad, 20020 Aguascalientes, Ags.</p></li>
                    <li class="list-group-item bg-transparent border-0 p-0 mb-2"><p class="parrafo"> Telefono: 449 910 9900</p></li>
                    <li class="list-group-item bg-transparent border-0 p-0 mb-2"><p class="parrafo"> correo: <a href="https://outlook.live.com/owa/">centromedico@outlook.com</a></p></li>
                </ul>
            </div>

            <div class="col-md-3 col-sm-3 col-6 mb-3 p-0 float-left">
                <h5 class="mb-4 font-weight-bold text-uppercase">Tecnologías</h5>
                <ul class="list-group">
                    <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                      <a href="https://angular.io/"> <i class="fab fa-angular"></i> Angular</a>
                    </li>
                    <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                      <a href="https://nodejs.org/es/"> <i class="fab fa-node"></i> NodeJs</a>       
                    </li>
                    <li class="list-group-item bg-transparent border-0 p-0 mb-2"> 
                      <a href="https://getbootstrap.com/"> <i class="fab fa-bootstrap"></i> Bootstrap</a>
                    </li>
                    <li class="list-group-item bg-transparent border-0 p-0 mb-2"> 
                        <a href="https://www.w3schools.com/js/DEFAULT.asp"> <i class="fab fa-js-square"></i> JavaScript</a>
                      </li>
                      <li class="list-group-item bg-transparent border-0 p-0 mb-2"> 
                        <a href="https://es.wikipedia.org/wiki/HTML5"> <i class="fab fa-html5"></i> HTML5</a>
                      </li>
                      <li class="list-group-item bg-transparent border-0 p-0 mb-2"> 
                        <a href="https://developer.mozilla.org/es/docs/Web/CSS"> <i class="fab fa-css3"></i> CSS</a>
                      </li>
                  </ul>
              </div>

    </div>

    <div class="copyright text-center">
        Copyright &copy; 2021 Centro Medico Hospitalario
      </div>
</div>